//
// Personal Portfolio
// Main SCSS file
//
// load config
@import 'config/config'; // load mixins
@import 'mixins/mixins_general';
@import 'mixins/mixins_breakpoints';
@import 'mixins/mixins_grids'; // load base
//@import 'base/reset';
@import 'base/helper_classes'; //@import 'base/typography';
// load structure
@import 'structure/header';
@import 'structure/sections';
@import 'structure/footer'; // load modules
@import 'modules/grids'; // load pages
@import 'pages/welcome';
@import 'pages/services';
@import 'pages/portfolio';
@import 'pages/blog';
@import 'pages/contact';

.header {
  background-color: #4b367c;
  padding: 2em 0;
  color: white;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 800px;
}
.row.title {
  background-color: #4b367c;
  color: white;
  padding-bottom: 2em ;
}

.sidebar {
  padding-top: 100px;
  background-color: #2C2541;
  color: #898395;
  height: 100%;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #4B367C;
  color: white;
  padding: 15px 0 15px 0;
}
